{% extends 'base.html.twig' %}


{% block body %}

	<div class="row mb-2">
		{% for post in posts %}

			<div class="col-md-6">
				<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
					<div class="col p-4 d-flex flex-column position-static">
						{% for category in post.categories %}
							<a href="{{ path('category-posts', { name: category.name}) }}">
								<strong class="d-inline-block mb-2 text-success">{{category}}</strong>
							</a>
						{% endfor %}
						<a href="{{ path('editor-posts', { id: post.user.id}) }}">
							<strong class="d-inline-block mb-2 text-warning">{{post.user.email}}</strong>
						</a>
						<h3 class="mb-0">{{post.title}}</h3>
						<div class="mb-1 text-muted">
							<a href="{{ path('date-posts', { date: post.publishedDate|date("Y-m-d")}) }}">
								{{ post.publishedDate|date("d/m/Y")}}</a>
						</div>
						<p class="mb-auto">{{ post.content |striptags|slice(0, 50)}}
							...</p>
						<a href="{{ path('post-detail', { id: post.id}) }} " class="">Lire la suite</a>
					</div>

				</div>
			</div>


		{% endfor %}
	</div>
{% endblock %}
